@model IEnumerable<Packt.CS7.Product>
@{
    ViewData["Title"] =
    "Products That Cost More Than " + ViewData
    ["MaxPrice"];
}
<h2>Products That Cost More Than @ViewData["MaxPrice"]</h2>
<h3>Code missing</h3>